<?xml  version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
       http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

    <context:annotation-config />
    <context:component-scan base-package="cd"/>

    <util:list id="crawlSeeds" value-type="java.lang.String">
        <!--
        <value>https://www.youtube.com/watch?v=wk5PFS3VQAI</value>
        <value>https://www.youtube.com/watch?v=CxzwOhJalGQ</value>
        <value>https://www.youtube.com/watch?v=ekgNJ3FdCNQ</value>
        <value>http://www.iheart.com/artist/maluma-687499/songs/</value>
        -->
        <value>http://www.allmusic.com/album/pretty-boy-dirty-boy-mw0002882558</value>
    </util:list>
    <aop:aspectj-autoproxy/>
</beans>
